<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.YouChat" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mlogo"
        android:label="YouChat"
        android:roundIcon="@mipmap/rlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dodo" >
        <activity
            android:name="com.example.YouChat.MessageBox"
            android:exported="false" />
        <activity
            android:name="com.example.YouChat.LogInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.YouChat.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.YouChat.LoggedInActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>